
.cont-header {
    color:orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-str {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-str input[type = "text"]{
    border-color: orange;
    border-radius: 5px;
    padding: 12px 10px;
    width: 13%;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit button[type="submit"]{
    margin-top:15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding :12px 20px;
    background-color: orange;
    border-color: orange;
}
.table-container {
    width: calc(20% - 10px);
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 20px;
  }
th, td {
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f9f9f9;
    border: 1px solid orange;
  }
  
  td {
    background-color: #f9f9f9;
    border: 1px solid orange;
  } 
  